services:
  app:
    build: .
    ports:
      - '8080:80'
    environment:
      - DB_HOST=db
      - DB_NAME=eshop
      - DB_USER=root
      - DB_PASS=example
      - ADMIN_PASS=admin123
    depends_on:
      - db
    volumes:
      - ./:/var/www/html
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: eshop
    volumes:
      - db_data:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d:ro
    ports:
      - '3306:3306'
volumes:
  db_data:
